@use "../../../index.scss" as *;

.tips {
  padding: var(--spacing-600);
  margin-block: var(--spacing-600);
  @include flex(column);
  gap: var(--spacing-500);
  background-color: hsla(var(--gradient-1), 0.25);

  @include breakpoint("tablet") {
    padding: var(--spacing-700);
    margin-block: var(--spacing-700);
  }
  @include breakpoint("desktop") {
    padding: var(--spacing-1200);
    margin-block: var(--spacing-1200);
    @include flex(row);
  }

  .tip {
    @include flex(column);
    gap: var(--spacing-400);

    &-body {
      @include flex(column);
      gap: var(--spacing-300);
    }

    @include breakpoint("tablet") {
      @include flex(row);
      gap: var(--spacing-500);

      &-head {
        display: flex;
        align-items: center;
      }
    }
    @include breakpoint("desktop") {
      @include flex(column);
      gap: var(--spacing-500);
    }
  }
}
