@font-face {
  font-family: "Inter Semi";
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  // colors
  --white: 0, 100%, 100%;
  --black: 0, 0%, 0%;

  --gray-500: 215, 17%, 45%;
  --gray-300: 215, 43%, 77%;

  --blue-900: 215, 31%, 21%;
  --blue-500: 227, 92%, 58%;
  --blue-300: 209, 69%, 82%;
  --blue-100: 228, 94%, 94%;

  --gradient-1: 183, 95%, 92%;
  --gradient-2: 216, 95%, 92%;

  // spacing
  --spacing-0: 0;
  --spacing-100: 0.8rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-700: 5.6rem;
  --spacing-800: 6.4rem;
  --spacing-900: 7.2rem;
  --spacing-1000: 8rem;
  --spacing-1100: 8.8rem;
  --spacing-1200: 9.6rem;
  --spacing-1300: 10.4rem;
  --spacing-1400: 11.2rem;
  --spacing-1600: 12.8rem;
  --spacing-1800: 14.4rem;

  // typography
  --fs-087: clamp(1.2rem, 1.1rem + 0.3vw, 1.4rem);
  --fs-093: clamp(1.3rem, 1.2rem + 0.3vw, 1.5rem);
  --fs-100: clamp(1.4rem, 1.3rem + 0.4vw, 1.6rem);
  --fs-125: clamp(1.6rem, 1.4rem + 0.8vw, 2rem);
  --fs-150: clamp(1.8rem, 1.5rem + 1vw, 2.4rem);
  --fs-200: clamp(2.2rem, 1.8rem + 1.5vw, 3.2rem);
  --fs-300: clamp(2.8rem, 2.2rem + 2vw, 4.8rem);
  --fs-400: clamp(3.2rem, 2.5rem + 3vw, 6.4rem);

  --fw-b: 700;
  --fw-m: 500;
  --fw-r: 400;

  --lh-1: 1.1;
  --lh-2: 1.2;
  --lh-3: 1.5;

  --ls-0: 0;
  --ls-1: -0.5px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
picture,
img {
  max-width: 100%;
  object-fit: cover;
}
input,
textarea,
select {
  font: inherit;
}
p {
  line-height: 1.5;
}
a {
  text-decoration: none;
}
// mixins
@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin breakpoint($media) {
  @if $media == "tablet" {
    @media (min-width: 30rem) {
      @content;
    }
  } @else if $media == "desktop" {
    @media (min-width: 56.75rem) {
      @content;
    }
  }
}

@mixin container {
  padding: var(--spacing-400) var(--spacing-300);

  @include breakpoint("tablet") {
    padding: var(--spacing-400) var(--spacing-500);
  }
  @include breakpoint("desktop") {
    padding: var(--spacing-1100) var(--spacing-1800);
  }
}
// text presets
.text-preset-1 {
  font-size: var(--fs-400);
  font-weight: var(--fw-b);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);

  @include breakpoint("desktop") {
    letter-spacing: var(--ls-1);
  }
}

.text-preset-2 {
  font-size: var(--fs-300);
  font-weight: var(--fw-b);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);

  @include breakpoint("desktop") {
    letter-spacing: var(--ls-1);
  }
}

.text-preset-3 {
  font-size: var(--fs-200);
  font-weight: var(--fw-m);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-0);

  @include breakpoint("desktop") {
    letter-spacing: var(--ls-1);
  }
}

.text-preset-4 {
  font-size: var(--fs-150);
  font-weight: var(--fw-b);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-0);

  @include breakpoint("desktop") {
    letter-spacing: var(--ls-1);
  }
}
.text-preset-5 {
  font-size: var(--fs-125);
  font-weight: var(--fw-b);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-0);

  @include breakpoint("desktop") {
    letter-spacing: var(--ls-1);
  }
}
.text-preset-6 {
  font-size: var(--fs-100);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-0);
}
.text-preset-7 {
  font-size: var(--fs-087);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-0);
}

.font-bold {
  font-weight: var(--fw-b);
}
.font-medium {
  font-weight: var(--fw-m);
}
.font-regular {
  font-weight: var(--fw-r);
}
// base
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter Semi", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  max-width: calc(10 * var(--spacing-1800));
  margin: auto;
  @include container;
}
