@use "../../../index.scss" as *;

.limits {
  margin-block: var(--spacing-1000);
  @include flex(column);
  gap: var(--spacing-700);

  &-head {
    @include flex(column);
    gap: var(--spacing-400);
    text-align: center;

    @include breakpoint("desktop") {
      width: 56rem;
      align-self: flex-start;
      text-align: left;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-200);

    @include breakpoint("tablet") {
      grid-template-columns: repeat(2, 1fr);

      > :last-child {
        grid-column: 1 / -1;
        justify-self: center;
        width: calc(50% - var(--spacing-100));
      }
    }
    @include breakpoint("desktop") {
      grid-template-columns: repeat(4, 1fr);

      > * {
        width: 36.5rem;
      }

      > :nth-child(1) {
        grid-column: 4 / 5;
        justify-self: end;
        transform: translate(-15rem, -8rem);
      }

      > :nth-child(2) {
        grid-column: 3 / 4;
        justify-self: end;
        transform: translateY(-8rem);
      }

      > :nth-child(3) {
        grid-column: 4 / 5;
        justify-self: end;
        transform: translateY(-8rem);
      }

      > :nth-child(4) {
        grid-column: 2 / 3;
        justify-self: end;
        transform: translate(50%, -8rem);
      }

      > :last-child {
        grid-column: 3 / 4;
        width: 36.5rem;
        transform: translate(50%, -8rem);
      }
    }
  }

  &-card {
    @include flex(column);
    gap: var(--spacing-200);
    box-shadow: 0 10px 20px hsla(var(--blue-900), 0.25);
    padding: var(--spacing-400);
    border-radius: var(--spacing-200);

    &__head {
      @include flex(row);
      gap: var(--spacing-200);
      align-items: center;
    }
  }
}
